In [1]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('HBFA_V4.1 2000_2050.csv')

df

    Pays  Annee Categorie de vehicules  Polluant emission facteur       Unite
0     FR   2000                    CAR   carb_MJ           10,674  [MJ/Vehkm]
1     FR   2000                    CAR        CO             2,43   [g/Vehkm]
2     FR   2000                    CAR  CO2(rep)          793,141   [g/Vehkm]
3     FR   2000                    CAR        HC            0,829   [g/Vehkm]
4     FR   2000                    CAR     mcarb          254,463   [g/Vehkm]
..   ...    ...                    ...       ...              ...         ...
457   FR   2050                     VT  CO2(rep)            4,209   [g/Vehkm]
458   FR   2050                     VT        HC            0,088   [g/Vehkm]
459   FR   2050                     VT     mcarb           38,805   [g/Vehkm]
460   FR   2050                     VT       NOx            0,055   [g/Vehkm]
461   FR   2050                     VT        PM            0,001   [g/Vehkm]

[462 rows x 6 columns]

In [2]:
# Assuming 'polluant' is the name of the column in your DataFrame
polluant_dummies = pd.get_dummies(df['Polluant'], prefix='polluant')

# Merge the dummy columns with the original DataFrame
df_with_polluants = pd.concat([df, polluant_dummies], axis=1)

# Print the first few rows to check
df_with_polluants.head()

,Pays,Annee,Categorie de vehicules,Polluant,emission facteur,Unite,polluant_CO,polluant_CO2(rep),polluant_HC,polluant_NOx,polluant_PM,polluant_carb_MJ,polluant_mcarb
0,FR,2000,CAR,carb_MJ,"10,674",[MJ/Vehkm],False,False,False,False,False,True,False
1,FR,2000,CAR,CO,"2,43",[g/Vehkm],True,False,False,False,False,False,False
2,FR,2000,CAR,CO2(rep),"793,141",[g/Vehkm],False,True,False,False,False,False,False
3,FR,2000,CAR,HC,"0,829",[g/Vehkm],False,False,True,False,False,False,False
4,FR,2000,CAR,mcarb,"254,463",[g/Vehkm],False,False,False,False,False,False,True

In [3]:
# Step 1: Create a new column with the "Polluant" + "Unite" combination as the new column name
df['Polluant_Unite'] = df['Polluant'] + "_" + df['Unite']

# Step 2: Pivot the table to reshape it
df_pivot = df.pivot_table(index=['Pays', 'Annee', 'Categorie de vehicules'], 
                          columns='Polluant_Unite', 
                          values='emission facteur', 
                          aggfunc='first')  # Use first in case of duplicates

# Step 3: Reset the index to flatten the DataFrame
df_pivot_reset = df_pivot.reset_index()

# Print the first few rows to check
df_pivot_reset

Polluant_Unite,Pays,Annee,Categorie de vehicules,CO2(rep)_[g/Vehkm],CO_[g/Vehkm],HC_[g/Vehkm],NOx_[g/Vehkm],PM_[g/Vehkm],carb_MJ_[MJ/Vehkm],mcarb_[g/Vehkm]
0,FR,2000,CAR,"793,141","2,43","0,829","10,34","0,405","10,674","254,463"
1,FR,2000,LBus,"1044,668","4,272","1,536","13,493","0,617","14,167","336,395"
2,FR,2000,MC,"106,829","10,657","2,645","0,18","0,089","1,469","33,482"
3,FR,2000,PLM,"897,665","2,409","0,738","10,361","0,371","12,081","287,997"
4,FR,2000,VL,"267,228","3,214","0,369","1,317","0,215","3,603","85,648"
...,...,...,...,...,...,...,...,...,...,...
61,FR,2050,LBus,"59,475","0,315","0,068","0,279","0,006","9,095","170,36"
62,FR,2050,MC,"8,478","0,582","0,407","0,017","0,025","1,196","42,006"
63,FR,2050,PLM,"55,082","0,403","0,216","0,464","0,004","7,354","182,678"
64,FR,2050,VL,"11,084","1,225","0,079","0,082","0,019","2,077","50,766"
65,FR,2050,VT,"4,209","0,518","0,088","0,055","0,001","1,404","38,805"